body {
	background-image: url("https://guillaume-arrieta.com/wp-content/uploads/2020/11/vague-vierge-noir-et-blanc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Orbitron', sans-serif;
	font-size: 15px;
	font-weight: lighter;

}
 h1 {
  text-shadow:0 0 2px #00e92c,0 0 30px #00e92c,0px 0px 5px #00e92c, 0 0 150px #00e92c;color:#00e92c;
  font-family: 'Orbitron', sans-serif;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 50px;
  width: 700px;
  margin: 40px auto;
  text-align: center;
}

h2 {
color: rgb(176, 102, 96);
font-size: 19px;
font-family: 'Orbitron', sans-serif;
}

a:hover {
	color:black;

}

 .box-beige{
  margin: 60px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 30%);
  padding: 50px;
  border-radius: 13px;
  text-align: center;
}
.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}
@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.img-circle {
	border-radius: 50%;
	height: 200px;
	margin: 2% 0% 2% 0%;
  filter: grayscale(100%);
}
.img-circle:hover {
	transition: .25s ease;
  filter: none;
}


.btn-blue {

	padding:10px 5px;
	border-radius: 20px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  font-size: large;
  text-shadow:0 0 2px #00e92c,0 0 30px #00e92c,0px 0px 5px #00e92c, 0 0 150px #00e92c;color:#00e92c;
  animation-duration: .8s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
}
.btn-blue:hover {
  text-shadow:0 0 2px #e90000,0 0 30px #e90000,0px 0px 5px #e90000, 0 0 150px #e90000;
  color:#e90000;
  animation : none;
}

.list-inline {
	list-style : none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
	text-shadow:0 0 2px #00e92c,0 0 30px #00e92c,0px 0px 5px #00e92c, 0 0 150px #00e92c;color:#00e92c;
}
.list-inline i:hover {
  text-shadow:0 0 2px #e90000,0 0 30px #e90000,0px 0px 5px #e90000, 0 0 150px #e90000;color:#e90000;
}

.subtitle {
  text-shadow:0 0 2px #00e92c,0 0 30px #00e92c,0px 0px 5px #00e92c, 0 0 150px #00e92c;color:#00e92c;

}

.text_filant {
  text-shadow:0 0 2px #fafcfbed,0 0 30px #fafcfbed,0px 0px 5px #fafcfbed, 0 0 150px #fafcfbed;color:#fafcfbed;
}


.maintitle  {
  animation-duration: .8s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
}
@keyframes clignoter {
 0%   { opacity:1; }
 40%   {opacity:0; }
 100% { opacity:1; }
}
